.footer {

    .footer-logout {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-text-color;
        background-color: $second-bg-color;
    }
    .footer-content {
        background-color: $main-bg-color;
        padding: 0 40px;

        ul {
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            font-weight: bold;
        }
    }
}