.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 50px; 
  height: 100vh;
  grid-template-areas: 
    "header"
    "main"
    "footer"; 

    .header {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 250px auto 150px;
      grid-template-areas: 
      "header-logo header-title header-profil";
      grid-area: header;

      .header-logo { grid-area: header-logo; }
      .header-title { grid-area: header-title; }
      .header-profil { grid-area: header-profil; }
    }

    .main {
      display: grid; 
      grid-template-columns: 250px 1fr; 
      grid-template-rows: 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "sidebar content"; 
      grid-area: main; 

      .sidebar { grid-area: sidebar; }
      .content { grid-area: content; }
    }

    .footer {
      display: grid; 
      grid-template-columns: 250px 1fr; 
      grid-template-rows: 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "footer-logout footer-content"; 
      grid-area: footer; 
    }
    .-footerlogout { grid-area: footer-logout; }
    .footer-content { grid-area: footer-content; }
}

