/* COLORS */
$main-bg-color: #2E35B3;
$second-bg-color: #CAD2FC;
$third-bg-color: #BEBEBE;

$main-text-color: #0D1282;
$second-text-color: #322F2F;
$light-text-color: #ffffff;

$warning-color: #DC1C4D;

/* FONT */ 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$text-font: 'Quicksand', sans-serif;

$fontsize-main: 2em;
$fontsize-second: 1.5em;
$fontsize-third: 1em;
$fontsize-paragraphe: 0.75em;