@charset "UTF-8";
/* COLORS */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 50px;
  height: 100vh;
  grid-template-areas: "header" "main" "footer";
}
.container .header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 250px auto 150px;
  grid-template-areas: "header-logo header-title header-profil";
  grid-area: header;
}
.container .header .header-logo {
  grid-area: header-logo;
}
.container .header .header-title {
  grid-area: header-title;
}
.container .header .header-profil {
  grid-area: header-profil;
}
.container .main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sidebar content";
  grid-area: main;
}
.container .main .sidebar {
  grid-area: sidebar;
}
.container .main .content {
  grid-area: content;
}
.container .footer {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "footer-logout footer-content";
  grid-area: footer;
}
.container .-footerlogout {
  grid-area: footer-logout;
}
.container .footer-content {
  grid-area: footer-content;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  height: 100vh;
  color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  font-family: "Quicksand", sans-serif;
}

.navbar-tool {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Bouton du menu */
.dropdown-btn {
  padding: 10px 20px;
  background: none;
  border: 1px solid #BEBEBE;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

/* Contenu du menu déroulant */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Affichage du menu au survol du bouton */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Conteneur de la barre de recherche */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Champ de la barre de recherche */
.search-bar {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}
.search-bar:focus {
  border-color: #2E35B3;
}

/* Bouton de la barre de recherche */
.search-btn {
  padding: 10px 15px;
  background-color: #2E35B3;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.search-btn:hover {
  background-color: #CAD2FC;
}

.group-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #CAD2FC;
}

.group-table th, .group-table td {
  padding: 10px;
  text-align: left;
}

.group-table th {
  background-color: #2E35B3;
  color: #ffffff;
}

.group-row {
  color: #0D1282;
}

.group-table .group-row:nth-child(odd) {
  background-color: #ffffff;
}

.group-table .group-row:nth-child(even) {
  background-color: #CAD2FC;
}

.group-table td input[type=checkbox] {
  margin: 0;
}

/* Flèches de tri */
.sort-arrow {
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}

/* Boutons Modifier et Supprimer */
.edit-btn, .delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: #2E35B3;
  color: #ffffff;
  font-weight: bold;
}

.edit-btn:hover, .delete-btn:hover {
  background-color: #2E35B3;
}

/* Style pour la case à cocher sélectionnant toute la ligne */
.select-all {
  margin: 0;
}

header {
  background-color: #2E35B3;
}
header .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-logo img {
  width: 100px;
}
header .header-title {
  display: flex;
  align-items: center;
}
header .header-title h1 {
  font-size: 2rem;
}
header .header-profil {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-profil a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.sidebar {
  background-color: #CAD2FC;
}

.navbar {
  padding: 20px 0;
}

/* ACCORDION */
.accordion-container {
  width: 100%;
  overflow: hidden;
  color: #0D1282;
}

.accordion-header {
  cursor: pointer;
  padding: 15px 0 15px 25px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}

.accordion-item {
  box-sizing: border-box;
}

.accordion-item.active .accordion-header {
  background-color: #2E35B3;
  color: white;
}

.accordion-header:hover {
  background-color: #2E35B3;
  color: white;
}

.accordion-content {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0;
}

.sub-item {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  color: #0D1282;
  text-decoration: none;
  border-bottom: 1px solid #CAD2FC;
  transition: background-color 0.3s ease;
}

.sub-item:hover {
  background-color: #f0f0f0;
}

.sub-item.active-sub-item {
  font-weight: bold;
}

/* Effet d'ouverture */
.accordion-item.active .accordion-header i {
  transform: rotate(90deg);
}

.content {
  padding: 40px;
}

.footer .footer-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0D1282;
  background-color: #CAD2FC;
}
.footer .footer-content {
  background-color: #2E35B3;
  padding: 0 40px;
}
.footer .footer-content ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */