.btn {
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;        
    font-weight: bold;
    padding : 10px 40px;
    text-transform: uppercase;
    overflow: hidden; 
    transition: color 0.4s ease-in-out; 
}

.btn:hover {
    background-color: var(--warning-color-dark);
    color: var(--light-color);
    transition: ease-in-out 0.4s;
}

.btnSmall { padding: 0 10px; }

.btnMedium { padding: 0 30px; }

.btnPrimary {    
    background-color: var(--light-color);
    color: var(--second-text-color);
}

.btnSecondary {
    color: var(--light-color);
    background-color: var(--warning-color);
}
