.btn {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;        
    font-weight: bold;
    padding : 10px 0;
    text-transform: uppercase;
}

.btnSmall { padding: 0 20px; }

.btnMedium { padding: 10px 30px; }

.btnLarge { padding: 10px 40px; }

.btnPrimary {
    color: var(--second-text-color);
    background-color: var(--light-color);
}

.btnSecondary {
    color: var(--light-color);
    background-color: var(--warning-color);
}