.formGroup { 
    position:relative; 
    margin-bottom:30px; 
  }
  
  .select {
    font-size:var(--fontsize-paragraphe);
    padding: 20px 10px 15px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid #757575;
    background-color: #fafafa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .select:hover { background-color: #f0f0f0; }
    
  .select:focus { outline:none; }
    
  .label 				 {
    color: var(--second-text-color); 
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 20px;
    transition: 0.4s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }
  
  .select:focus ~ .label { 
    top: 5px;
    font-size:14px;
    color: var(--main-bg-color);
  }
  
  .options {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .options li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .options li:hover {
    background-color: #f0f0f0;
  }
  
  .select:focus ~ .options {
    display: block;
  }  