.formGroup { 
    position:relative; 
    margin-bottom:30px; 
  }
  
  .input {
    font-size:var(--fontsize-paragraphe);
    padding: 20px 10px 15px 5px;
    display: block;
    width: 250px;
    border:none;
    border-bottom: 1px solid #757575;
    background-color: #fafafa;
  }

  .input:hover { background-color: #f0f0f0; }
  
  .input:focus { outline:none; }
  
  .label 				 {
    color: var(--second-text-color); 
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 20px;
    transition: 0.4s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }
  
  input:focus ~ .label, .input:valid ~ label { 
    top: 5px;
    font-size:14px;
    color: var(--main-bg-color);
  }