.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 250px 1.5fr;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-areas: "mainNavbar mainContent";
  box-sizing: border-box;
  overflow: hidden;
}

.mainInfosList {
  display: list-item;
  list-style: none;
}

.mainContent {
  width: 80vw;
}

.adminInfos {
  width: 80%;
}

.picContainer {
  width: 20%;
  position:relative;
}

.tabBar {
  width: 80vw;
  display: flex;
}

.tab {
  width: 20%;
  padding: 20px
}

.upperInfos {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30vh;
  margin-bottom: 30px;
  gap: 10px;
}

.modify {
  font-weight: 1000;
  text-decoration: underline;
}

.lastName {
  text-transform: uppercase;
}

.fullName {
  font-weight: 1000;
  margin-bottom:20px;
}

.eventList {
  display: list-item;
  list-style: square;
}

.table {
  border-collapse: collapse;
  border: 1px solid;
  letter-spacing: 1px;
  width:100%
}

.td {
  border: 1px solid;
  padding: 5px;
}

.thead {
  border: 1px solid;
  padding: 5px;
  background-color: #f4f4f4;
}