.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  box-sizing: border-box;
}

.formInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

}

.formHeader {
display: flex;
justify-content: space-between;
align-items: center;
}

.formButton {
  display: flex;
  gap: 20px;
}