.groupContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.errorMsg {
    color: red;
    font-size: 14px;
}