.groupContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupHeader {
  display: flex;
 justify-content: flex-end;
  
}

.groupInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.errorMsg {
    color: red;
    font-size: 14px;
}

.boxContainer {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
}