.container {  
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;

     
  }

/* 
  .container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.3fr 0.3fr;
    grid-template-areas:
      "header" 
      "main"
      "footer";
      height: 100vh;
  } */